build/
build*/
cmake-build-*/
out/
compile_commands.json
.cache/
.idea/
.vscode/
__pycache__/
*.pyc
CMakeFiles/
CMakeCache.txt
*.swp
*.swo
notes/
benchmarks/config/rust_demo.yaml
benchmarks/config/tinygo_demo.yaml
benchmarks/config/zig_demo.yaml
